<div class="container">
    <div class="drop" style="--clr:green">
        <div class="content">
            <h2>01</h2>
            <p>Authorized Amazon Partner Service Provider. Recognition of our expertise and commitment to success.</p>
        </div>
    </div>
    <div class="drop" style="--clr:green">
        <div class="content">
            <h2>02</h2>
            <p>100% increase in sales. Proven track record of effective services and hardworking team.</p>
        </div>
    </div>
    <div class="drop" style="--clr:green">
        <div class="content">
            <h2>03</h2>
            <p>Working with top startups. Dedicated to helping startups grow and succeed.</p>
        </div>
    </div>
    <div class="drop" style="--clr:green">
        <div class="content">
            <h2>04</h2>
            <p>Over 300 clients served. A variety of industries and backgrounds helped to succeed.</p>

        </div>
    </div>
    <div class="drop" style="--clr:green">
        <div class="content">
            <h2>05</h2>
            <p>Launching and improving online businesses. Expertise in helping sellers reach new customers and grow sales.</p>
        </div>
    </div>
</div>