<div class="container">
    <div class="row">
        <div class="card">
            <img src="../../../assets/imgs/Catalouge.png" alt="elephant">
            <div class="intro">
                <h1>Cataloging</h1>
                <p>
                    Optimize product data, categorization and content for e-commerce success. Complete, accurate and up-to-date information. Optimized descriptions, images and content.
                </p>

            </div>
        </div>
        <div class="card">
            <img src="../../../assets/imgs/2.png" alt="elephant">
            <div class="intro">
                <h1>Account Management</h1>
                <p> E-commerce made easy. Order fulfillment, customer service and performance tracking. Resolved issues and excellent customer service. Sales performance monitored.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/imgs/3.png" alt="elephant">
            <div class="intro">
                <h1>EBC (Enhanced Brand Content)</h1>
                <p>Boost e-commerce brand with optimized content. Eye-catching product descriptions, images and branding. Professional online presence ensured.</p>

            </div>
        </div>
        <div class="card">
            <img src="../../../assets/imgs/4.png" alt="elephant">
            <div class="intro">
                <h1>Advertising Optimization</h1>
                <p>Maximize e-commerce sales with ad optimization. Campaign management, performance tracking and improved ROI. Target the right customers for maximum visibility.</p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/imgs/5.png" alt="elephant">
            <div class="intro">
                <h1>360 Brand Marketing</h1>
                <p> Elevate e-commerce success with high-quality listings, advertising, promotions, and reviews management. Boost brand presence and drive sales.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/imgs/6.png" alt="elephant">
            <div class="intro">
                <h1>Brand Store</h1>
                <p>Stand out with a professional Brand Store. Store design, optimized listings and full management. Boost brand visibility and loyalty.
                </p>
            </div>
        </div>
        <div class="card">
            <img src="../../../assets/imgs/7.png" alt="elephant">
            <div class="intro">
                <h1>Amazon Brand Registry</h1>
                <p>Protect Amazon brand with brand verification. Greater control of listings and brand image. Trademark protection included.
                </p>
            </div>
        </div>
    </div>
</div>