<div class="section">
    <div class="container">
        <div class="title text-center">
            <h1>WHO WE ARE?</h1>
        </div>
        <br>
        <br>
        <div class="image-section">
            <img src="../../../assets/imgs/about.gif" alt="">
        </div>
        <div class="content-section">
            <div class="content">
                <h2>Our Mission: Helping Your Business Thrive Online</h2>
                <p>
                    At BelieversSolution, we're a leading e-commerce service provider who believe in the potential of your business. Our team of experts in account management, brand marketing, and Amazon Brand Registry are dedicated to taking your business to the next level.

                    <br><br> Our mission is to provide high-quality, effective services that help our clients achieve their goals. Let us help you succeed in the online marketplace.
                </p>
            </div>
            <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
        </div>

    </div>
</div>

<!-- <section class="who">
    <h1>Who we are</h1>
    <div class="main-who">
        <div class="inner-who">
            <img src="../../../assets/imgs/whoWeAre.png" alt="">
        </div>
        <div class="inner-who">
            <div class="inner-who-content">
                <h2>Any title</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi id tempora possimus debitis ipsa dolores fugiat ipsum ut! At, optio beatae iusto perferendis quibusdam sint doloremque laborum consequuntur ad maiores et consectetur adipisicing
                    elit. Animi id tempora possimus debitis ipsa dolores fugiat ipsum ut! At, optio beatae iusto perferendis quibusdam sint doloremque laborum consequuntur ad maiores et consectetur adipisicing elit. Animi id tempora possimus debitis ipsa
                    dolores fugiat ipsum ut! At, optio beatae iusto perferendis quibusdam sint doloremque laborum consequuntur ad maiores?</p>
                <a href="#">read more</a>
            </div>
        </div>
    </div>
</section> -->