<section class="home">
    <div class="main-home">
        <div class="left-home">
            <div class="inner-left-content">
                <br>
                <br>
                <br>
                <br>
                <h1>Believer Solutions</h1>
                <br>
                <p> Empowering your business, we believe in its success.</p>
                <br>
                <a href="#contact">Request a demo</a>
            </div>
            <div class="social">
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-linkedin"></i></a>
            </div>

        </div>
        <div class="right-home">
            <img src="../../../assets/imgs/backgroundright.png" alt="">
        </div>
    </div>
</section>